body {  
    /* font-family: Arial, sans-serif;  */
    font-family: Times New Roman;
    background-color: #fff;  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

form { 
    background-color:#00000022;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: left;  

      
}

h2 {
    margin-bottom: 20px;
    border: radius 4px;
    text-align: center;
    font-family:  Times New Roman;
}

label {
     display: block;
     margin-bottom: 8px; 

}

input {
    width: 100%;
    padding: 8px; 
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color:#eae5e5a7; 
    color: #070707;
    border: none;
    border-radius: 4px;  
    cursor: pointer;
    font-family: Times New Roman;
    height:27px;
    width:71.5px;
    text-align: center;
    float: right;
    font-size: 14px;
   

}

button:hover {
    background-color: #b3c2b3;
}

#displayData {
    margin-top: 20px;
    padding: 10px;
    background-color:#E8E8E8;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 305px;
    text-align: left;
    display: none; /* Initially hide the user data display area */
    
}

#displayData p {
    margin: 8px 0;
}